@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: lightblue; }
  71% { color: darkorchid; }
  85% { color: violet; }
  100% { color: red; }
}

body {
  font-family: 'Gluten', sans-serif;
}

/*---------- Bouncy text ---------- */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}

/* For individual paragraphs (optional) */
p, li {
  animation: rainbow 4s linear infinite !important;
}

h1{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: bounce 0.5s infinite alternate;
}
h2{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: wiggle 0.5s infinite alternate;
}

/*---------- Wavy text ---------- */

@keyframes jiggle {
    0% { transform: rotate(-5deg) scale(110%);}
   25% { transform: rotate(0deg) scale(100%); }
   50% { transform: rotate(5deg) scale(110%); }
   75% { transform: rotate(0deg) scale(100%); }
   100% { transform: rotate(-5deg) scale(110%); }
}
a:hover, button:hover{
    animation: jiggle 1.5s infinite;
}

a, button{
  animation: none;
}
