@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: lightblue; }
  71% { color: darkorchid; }
  85% { color: violet; }
  100% { color: red; }
}

body {
  font-family: 'Gluten', sans-serif;
}

/* For individual paragraphs (optional) */
p, li, a {
  animation: rainbow 4s linear infinite !important;
}
